Repository openstack/cloudkitty: changes, and which Zuul jobs are due for each by the changed paths.
All: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

cloudkitty-tempest-full-v2-storage-influxdb:
  parent: devstack-tempest
  description: 'Job testing cloudkitty installation on devstack with the InfluxDB v2
  
    storage driver and running tempest tests
  
    '
  required-projects:
  - name: openstack/cloudkitty
  - name: openstack/cloudkitty-tempest-plugin
  - name: openstack/python-cloudkittyclient
  roles:
  ...

cloudkitty-tempest-full-ipv6-only:
  parent: devstack-tempest-ipv6
  description: 'Job testing cloudkitty installation on devstack on IPv6
  
    and running tempest tests
  
    '
  required-projects:
  - name: openstack/cloudkitty
  - name: openstack/cloudkitty-tempest-plugin
  - name: openstack/python-cloudkittyclient
  roles:
  ...

cloudkitty-tempest-full-v2-storage-influxdb-py3:
  parent: cloudkitty-tempest-full-v2-storage-influxdb
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    InfluxDB v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      DEVSTACK_GATE_USE_PYTHON3: 'True'
      USE_PYTHON3: 'True'

cloudkitty-tempest-full-v1-storage-sqlalchemy:
  parent: cloudkitty-tempest-full-v2-storage-influxdb
  description: 'Job testing cloudkitty installation on devstack with python 2 and the
  
    SQLAlchemy v1 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: sqlalchemy
  ...

cloudkitty-tempest-full-v1-storage-sqlalchemy-py3:
  parent: cloudkitty-tempest-full-v1-storage-sqlalchemy
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    SQLAlchemy v1 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      DEVSTACK_GATE_USE_PYTHON3: 'True'
      USE_PYTHON3: 'True'

cloudkitty-tempest-full-v2-storage-elasticsearch:
  parent: cloudkitty-tempest-full-v2-storage-influxdb
  description: 'Job testing cloudkitty installation on devstack with python 2 and the
  
    elasticsearch v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: elasticsearch
  ...

cloudkitty-tempest-full-v2-storage-elasticsearch-py3:
  parent: cloudkitty-tempest-full-v2-storage-elasticsearch
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    elasticsearch v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      DEVSTACK_GATE_USE_PYTHON3: 'True'
      USE_PYTHON3: 'True'

cloudkitty-tox-bandit:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit
  required-projects:
  - openstack/requirements

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  .zuul.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update sample configuration and policy files
  doc/source/_static/cloudkitty.conf.sample
  doc/source/_static/cloudkitty.policy.yaml.sample
Due: none

Increase cost fields to 28 digits precision
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/Ifbf5b2515c7_increase_precision_for_cost_fields.py
  cloudkitty/rating/hash/db/sqlalchemy/models.py
  cloudkitty/tests/gabbi/rating/hash/gabbits/hash-location.yaml
  cloudkitty/tests/gabbi/rating/hash/gabbits/hash.yaml
  cloudkitty/tests/test_hashmap.py
  doc/source/user/rating/hashmap.rst
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Create 'use_all_resource_revisions' for Gnocchi collector
  cloudkitty/collector/gnocchi.py
  cloudkitty/tests/collectors/test_gnocchi.py
  cloudkitty/tests/collectors/test_validation.py
  doc/source/_static/cloudkitty.conf.sample
  doc/source/admin/configuration/collector.rst
  releasenotes/notes/create-use_all_entries_for_timespan-option-for-gnocchi-collector-39d29603b1f554e1.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Replace deprecated UPPER_CONSTRAINTS_FILE variable
  tox.ini
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update lower-constraints
  doc/source/_static/cloudkitty.conf.sample
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
  tox.ini
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

[goal] Deprecate the JSON formatted policy file
  cloudkitty/cli/status.py
  cloudkitty/common/defaults.py
  cloudkitty/common/policy.py
  cloudkitty/tests/gabbi/fixtures.py
  doc/source/_static/cloudkitty.conf.sample
  doc/source/admin/configuration/policy.rst
  doc/source/admin/install/install-source.rst
  lower-constraints.txt
  releasenotes/notes/deprecate-json-formatted-policy-file-01ceb65712fd0a39.yaml
  requirements.txt
  setup.cfg
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Add doc/requirements
  doc/requirements.txt
  test-requirements.txt
  tox.ini
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Remove six
  HACKING.rst
  cloudkitty/api/v1/controllers/collector.py
  cloudkitty/api/v1/controllers/info.py
  cloudkitty/backend/__init__.py
  cloudkitty/collector/__init__.py
  cloudkitty/collector/gnocchi.py
  cloudkitty/common/policy.py
  cloudkitty/db/api.py
  cloudkitty/fetcher/__init__.py
  cloudkitty/hacking/checks.py
  cloudkitty/rating/__init__.py
  cloudkitty/rating/hash/controllers/field.py
  cloudkitty/rating/hash/controllers/group.py
  cloudkitty/rating/hash/controllers/mapping.py
  cloudkitty/rating/hash/controllers/service.py
  cloudkitty/rating/hash/controllers/threshold.py
  cloudkitty/rating/hash/db/api.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/f8c799db4aa0_fix_unnamed_constraints.py
  cloudkitty/rating/pyscripts/controllers/script.py
  cloudkitty/rating/pyscripts/db/api.py
  cloudkitty/storage/v1/__init__.py
  cloudkitty/storage/v1/hybrid/backends/__init__.py
  cloudkitty/storage/v1/hybrid/backends/gnocchi.py
  cloudkitty/storage/v2/__init__.py
  cloudkitty/storage/v2/influx.py
  cloudkitty/storage_state/alembic/versions/c50ed2c19204_update_storage_state_constraint.py
  cloudkitty/tests/gabbi/fixtures.py
  cloudkitty/tests/test_pyscripts.py
  cloudkitty/utils/__init__.py
  cloudkitty/utils/validation.py
  cloudkitty/writer/__init__.py
  lower-constraints.txt
  requirements.txt
  rtd-requirements.txt
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

remove unicode from code
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/4da82e1c11c8_add_per_tenant_hashmap_support.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/54cc17accf2c_fixed_constraint_name.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/644faa4491fd_update_tenant_id_type_from_uuid_to_text.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/c88a06b1cfce_clean_hashmap_fields_constraints.py
  doc/source/conf.py
  releasenotes/source/conf.py
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Use recreate='auto' in storage_states migration
  cloudkitty/storage_state/alembic/versions/c50ed2c19204_update_storage_state_constraint.py
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Add the NOTNUMBOOL mutator
  cloudkitty/collector/__init__.py
  cloudkitty/utils/__init__.py
  doc/source/admin/configuration/collector.rst
  releasenotes/notes/notnumbool-mutator-ab056e86f2bc843d.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update .gitreview for stable/wallaby
  .gitreview
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update TOX_CONSTRAINTS_FILE for stable/wallaby
  tox.ini
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update master for stable/wallaby
  releasenotes/source/index.rst
  releasenotes/source/wallaby.rst
Due: none

Add Python3 xena unit tests
  .zuul.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Fix default admin_or_owner policy expression
  cloudkitty/common/policies/base.py
  doc/source/_static/cloudkitty.policy.yaml.sample
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Fix typo in policy rule description
  cloudkitty/common/policies/v1/rating.py
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Add release note for admin_or_owner policy fix
  releasenotes/notes/admin-or-owner-policy-c666346da4405d13.yaml
Due: none

Drop lower-constraints job
  .zuul.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

CI: Fix multiple failures
  .zuul.yaml
  test-requirements.txt
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Use py3 as the default runtime for tox
  tox.ini
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

[ussuri][goal] Update contributor documentation
  CONTRIBUTING.rst
  doc/source/_static/cloudkitty.conf.sample
  doc/source/contributor/contributing.rst
  doc/source/index.rst
  doc/source/pdf-index.rst
Due: none

Fixed PyScripts.start_script method to return the updated data object
  cloudkitty/rating/pyscripts/__init__.py
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

docs: Update Freenode to OFTC
  README.rst
  doc/source/contributor/contributing.rst
Due: none

Fix tests cases broken by flask >=2.0.1
  cloudkitty/api/app.py
  cloudkitty/tests/api/v2/dataframes/test_dataframes.py
  cloudkitty/tests/api/v2/summary/test_summary.py
  cloudkitty/tests/api/v2/test_utils.py
  lower-constraints.txt
  requirements.txt
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3

SQLalchemy not creating constraint for Enum on version 1.4.0+
  cloudkitty/db/sqlalchemy/api.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/models/f8c799db4aa0_fix_unnamed_constraints.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/3dd7e13527f3_initial_migration.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/4da82e1c11c8_add_per_tenant_hashmap_support.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/4fa888fd7eda_added_threshold_support.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/54cc17accf2c_fixed_constraint_name.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/versions/644faa4491fd_update_tenant_id_type_from_uuid_to_text.py
  cloudkitty/rating/hash/db/sqlalchemy/api.py
  cloudkitty/rating/hash/db/sqlalchemy/models.py
  cloudkitty/rating/pyscripts/db/sqlalchemy/api.py
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Deprecate `state` field and propose `last_processed_timestamp` field
  cloudkitty/api/v2/scope/state.py
  cloudkitty/orchestrator.py
  cloudkitty/storage_state/__init__.py
  cloudkitty/storage_state/alembic/versions/750d3050_create_last_processed_timestamp_column.py
  cloudkitty/storage_state/alembic/versions/c50ed2c19204_update_storage_state_constraint.py
  cloudkitty/storage_state/models.py
  cloudkitty/tests/storage/v2/test_storage_unit.py
  cloudkitty/tests/test_orchestrator.py
  cloudkitty/tests/test_storage_state.py
  doc/source/api-reference/v2/api_samples/scope/scope_get.json
  doc/source/api-reference/v2/scope/scope.inc
  doc/source/api-reference/v2/scope/scope_parameters.yml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Path conditions:
  cloudkitty-tempest-full-v2-storage-influxdb: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-ipv6-only: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-influxdb-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v1-storage-sqlalchemy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v1-storage-sqlalchemy-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-elasticsearch: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-elasticsearch-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tox-bandit: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^cloudkitty/hacking/.*$, ^cloudkitty/tests/scenario/.*$, ^cloudkitty/tests/unittests/.*$
