Repository openstack/cloudkitty: changes, and which Zuul jobs are due for each by the changed paths.
All: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

base-cloudkitty-tempest-job:
  parent: devstack-tempest
  description: 'Job testing cloudkitty installation and running tempest tests
  
    '
  required-projects:
  - name: openstack/cloudkitty
  - name: openstack/cloudkitty-tempest-plugin
  - name: openstack/python-cloudkittyclient
  roles:
  - zuul: openstack-infra/devstack
  timeout: 5400
  vars:
  ...

base-cloudkitty-v1-api-tempest-job:
  parent: base-cloudkitty-tempest-job
  description: 'Job running tempest tests on devstack with the v1 API only
  
    and the v1 storage driver
  
    '
  vars:
    tempest_test_regex: cloudkitty_tempest_plugin.tests.api.v1.*

base-cloudkitty-v2-api-tempest-job:
  parent: base-cloudkitty-tempest-job
  description: 'Job running tempest tests on devstack with the v2 API
  
    and a v2 storage driver
  
    '
  vars:
    tempest_test_regex: cloudkitty_tempest_plugin.*

cloudkitty-tempest-full-ipv6-only:
  parent: devstack-tempest-ipv6
  description: 'Job testing cloudkitty installation on devstack on IPv6
  
    and running tempest tests
  
    '
  required-projects:
  - name: openstack/cloudkitty
  - name: openstack/cloudkitty-tempest-plugin
  - name: openstack/python-cloudkittyclient
  roles:
  ...

cloudkitty-tempest-full-v1-storage-sqlalchemy:
  parent: base-cloudkitty-v1-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    SQLAlchemy v1 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: sqlalchemy
      CLOUDKITTY_STORAGE_VERSION: 1

cloudkitty-tempest-full-v2-storage-influxdb:
  parent: base-cloudkitty-v2-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    InfluxDB v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: influxdb
      CLOUDKITTY_STORAGE_VERSION: 2

cloudkitty-tempest-full-v2-storage-elasticsearch:
  parent: base-cloudkitty-v2-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    Elasticsearch v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: elasticsearch
      CLOUDKITTY_STORAGE_VERSION: 2

cloudkitty-tempest-full-v2-storage-opensearch:
  parent: base-cloudkitty-v2-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    OpenSearch v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: opensearch
      CLOUDKITTY_STORAGE_VERSION: 2

cloudkitty-tox-bandit:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit
  required-projects:
  - openstack/requirements

Update .gitreview for unmaintained/zed
  .gitreview
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

reno: Update master for unmaintained/zed
  releasenotes/source/zed.rst
Due: none

Fix API report requests when using opensearch
  cloudkitty/storage/v2/opensearch/client.py
  cloudkitty/tests/storage/v2/opensearch/test_client.py
  releasenotes/notes/fix-opensearch-report-344508dd4e3d0ccc.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

CI: Remove grenade branch variables
  .zuul.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Fix devstack runprocess for cloudkitty api
  devstack/plugin.sh
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Remove get_state function and its references
  cloudkitty/orchestrator.py
  cloudkitty/storage_state/__init__.py
  cloudkitty/tests/test_orchestrator.py
  cloudkitty/tests/test_storage_state.py
  cloudkitty/write_orchestrator.py
  releasenotes/notes/deprecate-get-state-2932a4e6a74295ce.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Fix v1 summary/total with ES/OS storage backend
  cloudkitty/storage/v2/elasticsearch/client.py
  cloudkitty/storage/v2/opensearch/client.py
  releasenotes/notes/fix-v1-summary-and-total-with-es-os-backend-9540741b80819672.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Bump hacking minimum version to 6.1.0
  cloudkitty/hacking/checks.py
  cloudkitty/tests/api/v2/task/test_reprocess.py
  test-requirements.txt
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Remove import of deprecated module
  cloudkitty/utils/validation.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update .gitreview for stable/2024.2
  .gitreview
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

Ensure [fetcher_prometheus] prometheus_password is hidden
  cloudkitty/fetcher/prometheus.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Add opensearch/elasticsearch datastreams support
  cloudkitty/storage/v2/elasticsearch/__init__.py
  cloudkitty/storage/v2/elasticsearch/client.py
  cloudkitty/storage/v2/opensearch/__init__.py
  cloudkitty/storage/v2/opensearch/client.py
  releasenotes/notes/add-opensearch-elasticsearch-datastreams-support-28b7c1ce700d33c0.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Correct release note formatting
  releasenotes/notes/fix-v1-summary-and-total-with-es-os-backend-9540741b80819672.yaml
Due: none

Fix test suite with Python 3.12
  cloudkitty/tests/gabbi/gabbits/v1-report.yaml
  cloudkitty/tests/storage/v1/test_storage.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Un-deprecate Elasticsearch
  releasenotes/notes/undeprecate-elasticsearch-6f207824e439ede3.yaml
Due: none

Bump hacking to 7.0.x
  requirements.txt
  test-requirements.txt
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch

Remove unused PrometheusClient method
  cloudkitty/common/prometheus_client.py
  cloudkitty/tests/common/test_prometheus_client.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update .gitreview for unmaintained/2023.1
  .gitreview
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

reno: Update master for unmaintained/2023.1
  releasenotes/source/2023.1.rst
Due: none

Drop workaround for old setuptools
  .zuul.yaml
  cloudkitty/utils/__init__.py
  devstack/plugin.sh
  devstack/settings
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Remove default override for config options policy_file
  cloudkitty/common/defaults.py
  cloudkitty/common/policy.py
  requirements.txt
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update gate jobs as per the 2025.1 cycle testing runtime
  .zuul.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Remove remaining use of iteritems
  cloudkitty/writer/csv_base.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Drop Python 3.8 support
  releasenotes/notes/drop-python38-5524bd07bca35743.yaml
  setup.cfg
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch

Replace own hacking checks by built-on ones
  HACKING.rst
  cloudkitty/hacking/checks.py
  cloudkitty/tests/test_hacking.py
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Remove set_state function and its references
  cloudkitty/orchestrator.py
  cloudkitty/storage_state/__init__.py
  cloudkitty/tests/gabbi/fixtures.py
  cloudkitty/tests/test_orchestrator.py
  cloudkitty/tests/test_storage_state.py
  releasenotes/notes/deprecate-set-state-3eea30afd43647ab.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Add handling to metric collect error
  cloudkitty/orchestrator.py
  releasenotes/notes/fix-processor-killed-on-metric-collect-error-824897dc2252b504.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Allow Multiple Ratings for the same Metric on Prometheus
  cloudkitty/collector/__init__.py
  cloudkitty/collector/gnocchi.py
  cloudkitty/collector/prometheus.py
  cloudkitty/tests/collectors/test_validation.py
  doc/source/admin/configuration/collector.rst
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Add secure RBAC role as new default
  cloudkitty/common/policies/base.py
  cloudkitty/common/policies/v1/collector.py
  cloudkitty/common/policies/v1/info.py
  cloudkitty/common/policies/v1/rating.py
  cloudkitty/common/policies/v1/report.py
  cloudkitty/common/policies/v1/storage.py
  cloudkitty/common/policies/v2/dataframes.py
  cloudkitty/common/policies/v2/rating.py
  cloudkitty/common/policies/v2/scope.py
  cloudkitty/common/policies/v2/summary.py
  cloudkitty/common/policies/v2/tasks.py
  releasenotes/notes/secure-rbac-defaults-5bb903323634a94c.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update .gitreview for stable/2025.1
  .gitreview
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

CI: Run periodic stable jobs
  .zuul.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Path conditions:
  base-cloudkitty-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  base-cloudkitty-v1-api-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  base-cloudkitty-v2-api-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-ipv6-only: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v1-storage-sqlalchemy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-influxdb: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-elasticsearch: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-opensearch: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tox-bandit: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^cloudkitty/hacking/.*$, ^cloudkitty/tests/scenario/.*$, ^cloudkitty/tests/unittests/.*$
