Repository openstack/cloudkitty: changes, and which Zuul jobs are due for each by the changed paths.
All: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Path conditions:
  base-cloudkitty-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  base-cloudkitty-v1-api-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  base-cloudkitty-v2-api-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-ipv6-only: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v1-storage-sqlalchemy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-influxdb: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-elasticsearch: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tox-bandit: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^cloudkitty/hacking/.*$, ^cloudkitty/tests/scenario/.*$, ^cloudkitty/tests/unittests/.*$

Fix cloudkitty exception handling from gnocchiclient
  cloudkitty/collector/gnocchi.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Changed minversion in tox to 3.18.0
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Fix broken lower-constraints job
  cloudkitty/api/app.py
  cloudkitty/tests/api/v2/dataframes/test_dataframes.py
  cloudkitty/tests/api/v2/summary/test_summary.py
  cloudkitty/tests/api/v2/test_utils.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Replace deprecated import of ABCs from collections
  cloudkitty/storage/v2/elasticsearch/client.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Custom query Gnocchi collector
  cloudkitty/collector/gnocchi.py
  cloudkitty/tests/collectors/test_gnocchi.py
  cloudkitty/tests/collectors/test_validation.py
  doc/source/admin/configuration/collector.rst
  releasenotes/notes/custom-gnocchi-query-a391f5e83d55d771.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Set force_granularity: 300 in metrics.yml
  etc/cloudkitty/metrics.yml
  releasenotes/notes/new-forcegranularity-default-b8aaf7d7823aef3b.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch

Update .gitreview for stable/xena
  .gitreview
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update master for stable/xena
  releasenotes/source/index.rst
  releasenotes/source/xena.rst
Due: none

Add Python3 yoga unit tests
  .zuul.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Add active status fields in the storage state table
  cloudkitty/api/v2/scope/state.py
  cloudkitty/common/policies/v2/scope.py
  cloudkitty/orchestrator.py
  cloudkitty/storage_state/__init__.py
  cloudkitty/storage_state/alembic/versions/4d69395f_add_storage_scope_state_fields.py
  cloudkitty/storage_state/alembic/versions/750d3050_create_last_processed_timestamp_column.py
  cloudkitty/storage_state/alembic/versions/c50ed2c19204_update_storage_state_constraint.py
  cloudkitty/storage_state/models.py
  doc/source/_static/cloudkitty.policy.yaml.sample
  doc/source/api-reference/v2/api_samples/scope/scope_get.json
  doc/source/api-reference/v2/scope/scope.inc
  doc/source/api-reference/v2/scope/scope_parameters.yml
  releasenotes/notes/introduce-active-status-field-cdfecd27c2bb9a42.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Adding two options in fetcher_keystone
  cloudkitty/fetcher/keystone.py
  doc/source/admin/configuration/fetcher.rst
  releasenotes/notes/ignore_disabled_tenants-and-ignore_rating_role-dfe542a0cafd412e.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Introduce "response_format" for the V2 summary API
  cloudkitty/api/v2/summary/summary.py
  cloudkitty/storage/v2/influx.py
  cloudkitty/tests/api/v2/summary/test_summary.py
  doc/source/api-reference/v2/summary/summary.inc
  doc/source/api-reference/v2/summary/summary_parameters.yml
  releasenotes/notes/response_format-v2-summary-api-270facdb01d9202b.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Add missing whitespace in log message
  cloudkitty/storage_state/__init__.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Add support for multiple value filters
  cloudkitty/api/v2/summary/summary.py
  cloudkitty/storage/v2/influx.py
  cloudkitty/tests/api/v2/summary/test_summary.py
  cloudkitty/tests/storage/v2/test_influxdb.py
  doc/source/api-reference/v2/summary/summary_parameters.yml
  releasenotes/notes/multiple_values_filter_summary_get_v2_api-1110373a900fad0d.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Fix quote API
  cloudkitty/api/v1/controllers/rating.py
  cloudkitty/orchestrator.py
  releasenotes/notes/fix-quote-v1-api-7282f01b596f0f3b.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Updating python testing classifier as per Yoga testing runtime
  setup.cfg
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch

Support customising Prometheus queries
  cloudkitty/collector/prometheus.py
  cloudkitty/tests/collectors/test_validation.py
  doc/source/admin/configuration/collector.rst
  releasenotes/notes/prometheus-custom-query-ab2dc00e97b14be2.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update sample configuration file
  doc/source/_static/cloudkitty.conf.sample
Due: none

Fix description of orchestrator parameters
  cloudkitty/orchestrator.py
  doc/source/_static/cloudkitty.conf.sample
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Avoid DivByZero if there is no metrics to collect
  cloudkitty/orchestrator.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Raise CollectError when Prometheus query returns an error
  cloudkitty/collector/prometheus.py
  releasenotes/notes/prometheus-error-8eab9f1793c2280c.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Introduce reprocessing API
  .gitignore
  cloudkitty/api/v2/__init__.py
  cloudkitty/api/v2/scope/state.py
  cloudkitty/api/v2/task/__init__.py
  cloudkitty/api/v2/task/reprocess.py
  cloudkitty/cli/processor.py
  cloudkitty/common/policies/__init__.py
  cloudkitty/common/policies/v2/tasks.py
  cloudkitty/orchestrator.py
  cloudkitty/storage/v2/influx.py
  cloudkitty/storage_state/__init__.py
  cloudkitty/storage_state/alembic/versions/4d69395f_add_storage_scope_state_fields.py
  cloudkitty/storage_state/alembic/versions/9feccd32_create_reprocessing_scheduler.py
  cloudkitty/storage_state/models.py
  cloudkitty/tests/api/v2/task/__init__.py
  cloudkitty/tests/api/v2/task/test_reprocess.py
  cloudkitty/tests/test_orchestrator.py
  doc/source/_static/cloudkitty.conf.sample
  doc/source/_static/cloudkitty.policy.yaml.sample
  doc/source/api-reference/v2/index.rst
  doc/source/api-reference/v2/task/reprocessing.inc
  doc/source/api-reference/v2/task/reprocessing_parameters.yml
  lower-constraints.txt
  releasenotes/notes/introduce-reprocessing-api-822db3edc256507a.yaml
  requirements.txt
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Fix v2 API dataframes get policy check
  cloudkitty/api/v2/dataframes/dataframes.py
  releasenotes/notes/dataframes-get-v2-policy-check-6070fc047b2e1496.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update .gitreview for stable/yoga
  .gitreview
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update TOX_CONSTRAINTS_FILE for stable/yoga
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update master for stable/yoga
  releasenotes/source/index.rst
  releasenotes/source/yoga.rst
Due: none

Add Python3 zed unit tests
  .zuul.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Include /v2 in public routes for keystone auth
  etc/cloudkitty/api_paste.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch

Add rating modules GET endpoints to v2 API
  cloudkitty/api/v2/__init__.py
  cloudkitty/api/v2/rating/__init__.py
  cloudkitty/api/v2/rating/modules.py
  cloudkitty/common/policies/__init__.py
  cloudkitty/common/policies/v2/rating.py
  cloudkitty/tests/gabbi/gabbits/v2-rating-modules.yaml
  doc/source/_static/cloudkitty.conf.sample
  doc/source/_static/cloudkitty.policy.yaml.sample
  doc/source/api-reference/v2/api_samples/rating/module_get.json
  doc/source/api-reference/v2/api_samples/rating/modules_list_get.json
  doc/source/api-reference/v2/index.rst
  doc/source/api-reference/v2/rating/http_status.yml
  doc/source/api-reference/v2/rating/modules.inc
  doc/source/api-reference/v2/rating/modules_parameters.yml
  releasenotes/notes/rating-modules-v2-7e4e7a3c5fa96331.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit
