Repository openstack/cloudkitty: changes, and which Zuul jobs are due for each by the changed paths.
All: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

base-cloudkitty-tempest-job:
  parent: devstack-tempest
  description: 'Job testing cloudkitty installation and running tempest tests
  
    '
  required-projects:
  - name: openstack/cloudkitty
  - name: openstack/cloudkitty-tempest-plugin
  - name: openstack/python-cloudkittyclient
  roles:
  - zuul: openstack-infra/devstack
  timeout: 5400
  vars:
  ...

base-cloudkitty-v1-api-tempest-job:
  parent: base-cloudkitty-tempest-job
  description: 'Job running tempest tests on devstack with the v1 API only
  
    and the v1 storage driver
  
    '
  vars:
    tempest_test_regex: cloudkitty_tempest_plugin.tests.api.v1.*

base-cloudkitty-v2-api-tempest-job:
  parent: base-cloudkitty-tempest-job
  description: 'Job running tempest tests on devstack with the v2 API
  
    and a v2 storage driver
  
    '
  vars:
    tempest_test_regex: cloudkitty_tempest_plugin.*

cloudkitty-tempest-full-ipv6-only:
  parent: devstack-tempest-ipv6
  description: 'Job testing cloudkitty installation on devstack on IPv6
  
    and running tempest tests
  
    '
  required-projects:
  - name: openstack/cloudkitty
  - name: openstack/cloudkitty-tempest-plugin
  - name: openstack/python-cloudkittyclient
  roles:
  ...

cloudkitty-tempest-full-v1-storage-sqlalchemy:
  parent: base-cloudkitty-v1-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    SQLAlchemy v1 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: sqlalchemy
      CLOUDKITTY_STORAGE_VERSION: 1

cloudkitty-tempest-full-v2-storage-influxdb:
  parent: base-cloudkitty-v2-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    InfluxDB v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: influxdb
      CLOUDKITTY_STORAGE_VERSION: 2

cloudkitty-tempest-full-v2-storage-elasticsearch:
  parent: base-cloudkitty-v2-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    Elasticsearch v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: elasticsearch
      CLOUDKITTY_STORAGE_VERSION: 2

cloudkitty-tox-bandit:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit
  required-projects:
  - openstack/requirements

Add missing "." for api-ref
  api-ref/source/v2/http_status.yml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch

Allows multiple rating types for same metric for gnocchi
  cloudkitty/collector/gnocchi.py
  cloudkitty/orchestrator.py
  cloudkitty/tests/collectors/test_gnocchi.py
  cloudkitty/tests/test_orchestrator.py
  doc/source/admin/configuration/collector.rst
  releasenotes/notes/allow-multiple-ranting-types-for-same-metric-in-gnocchi-1011ba2d5d36c073.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Fix response format 'total' for v2 dataframes API
  cloudkitty/storage/v2/elasticsearch/client.py
  releasenotes/notes/fix-response-total-for-elastic-search-a3a9244380ed046f.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Fix spacing in log message
  cloudkitty/storage_state/__init__.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update .gitreview for stable/2023.1
  .gitreview
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

Optimizing SQL queries that filter on a time range
  cloudkitty/storage/v1/sqlalchemy/__init__.py
  releasenotes/notes/optimizing-sql-queries-939f48fff1805389.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Add detail about reprocessing all scope IDs in reprocessing API
  api-ref/source/v2/task/reprocessing_parameters.yml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch

Fix formatting in release note
  releasenotes/notes/move-api-docs-to-api-ref-be71b864e557110e.yaml
Due: none

Optimize Gnocchi fetcher processing time
  cloudkitty/fetcher/gnocchi.py
  cloudkitty/tests/fetchers/test_gnocchi.py
  releasenotes/notes/optimize_gnochi-fetcher-runtime-3604026816.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Improve reprocessing task documentation
  api-ref/source/v2/task/reprocessing.inc
  api-ref/source/v2/task/reprocessing_parameters.yml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch

Remove `state` field from API
  cloudkitty/api/v2/scope/state.py
  cloudkitty/tests/gabbi/gabbits/v2-scope-state.yaml
  releasenotes/notes/remove-state-attribute-scope-28e48ae4ada5208d.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Create concepts definition page for CloudKitty
  doc/source/common-index.rst
  doc/source/concepts/index.rst
  doc/source/index.rst
Due: none

Fix random unit test failures
  cloudkitty/tests/storage/v2/test_storage_unit.py
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

[CI] Move queue setting to project level
  .zuul.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Use DevStack VENV path
  devstack/apache-cloudkitty.template
  devstack/plugin.sh
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Fix docs jobs in the CI that were broken due to Sphinx upgrade
  doc/requirements.txt
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update .gitreview for stable/2023.2
  .gitreview
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Update master for stable/2023.2
  releasenotes/source/2023.2.rst
  releasenotes/source/index.rst
Due: none

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Remove cloudkitty.conf.sample from docs
  doc/source/_static/cloudkitty.conf.sample
Due: none

Clean up release note
  releasenotes/notes/optimizing-sql-queries-939f48fff1805389.yaml
Due: none

Fix a concurrency issue when locking reprocessing tasks
  cloudkitty/orchestrator.py
  cloudkitty/tests/test_orchestrator.py
  releasenotes/notes/reprocessing-concurrency-issues-2a71f4d86a93c507.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Remove the manual patch for WSME
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Use correct metadata for metrics gathered from gnocchi
  cloudkitty/collector/gnocchi.py
  cloudkitty/tests/collectors/test_gnocchi.py
  releasenotes/notes/add_warning_regarding_gnocchi_version-99d5213c35950e39.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Patch for `use_all_resource_revisions` option
  cloudkitty/collector/gnocchi.py
  releasenotes/notes/patch-use-all-revision-0325eeb0f7871c35.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Optimize CloudKitty reprocessing process
  cloudkitty/orchestrator.py
  cloudkitty/tests/test_orchestrator.py
  releasenotes/notes/batch-delete-reprocessing-d46df15b078a42a5.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Fix retrieval of reprocessing tasks
  cloudkitty/api/v2/task/reprocess.py
  releasenotes/notes/reprocess-get-fix-f2bd1f2f9e2d640e.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Drop lower-constraints.txt and its testing
  .zuul.yaml
  lower-constraints.txt
  requirements.txt
  tox.ini
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Fix Internal Server Error when updating scope
  cloudkitty/api/v2/scope/state.py
  releasenotes/notes/fix-update-scope-ee6224374073e467.yaml
Due: base-cloudkitty-tempest-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tox-bandit

Path conditions:
  base-cloudkitty-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  base-cloudkitty-v1-api-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  base-cloudkitty-v2-api-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-ipv6-only: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v1-storage-sqlalchemy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-influxdb: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-elasticsearch: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tox-bandit: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^cloudkitty/hacking/.*$, ^cloudkitty/tests/scenario/.*$, ^cloudkitty/tests/unittests/.*$
