Repository openstack/cloudkitty: changes, and which Zuul jobs are due for each by the changed paths.
All: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Path conditions:
  cloudkitty-tempest-full-v2-storage-influxdb: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-ipv6-only: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-influxdb-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v1-storage-sqlalchemy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v1-storage-sqlalchemy-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-elasticsearch: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-elasticsearch-py3: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tox-bandit: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^cloudkitty/hacking/.*$, ^cloudkitty/tests/scenario/.*$, ^cloudkitty/tests/unittests/.*$

Fix retrieval of reprocessing tasks
  cloudkitty/api/v2/task/reprocess.py
  releasenotes/notes/reprocess-get-fix-f2bd1f2f9e2d640e.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update Monasca deprecation and removal details
  releasenotes/notes/deprecate-monasca-5526b823b227c6ef.yaml
Due: none

Add groupby options by different timeframes
  api-ref/source/v2/summary/summary_parameters.yml
  cloudkitty/collector/__init__.py
  cloudkitty/collector/gnocchi.py
  cloudkitty/collector/monasca.py
  cloudkitty/collector/prometheus.py
  cloudkitty/storage/__init__.py
  cloudkitty/storage/v2/__init__.py
  cloudkitty/storage/v2/elasticsearch/__init__.py
  cloudkitty/storage/v2/influx.py
  cloudkitty/tests/collectors/test_prometheus.py
  cloudkitty/tests/gabbi/gabbits/v2-summary.yaml
  cloudkitty/tests/storage/v2/test_storage_unit.py
  cloudkitty/tests/utils.py
  releasenotes/notes/support-group-by-timeframes-1247aa336916f3b6.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Add OpenSearch as a v2 storage backend
  .zuul.yaml
  cloudkitty/common/config.py
  cloudkitty/storage/v2/opensearch/__init__.py
  cloudkitty/storage/v2/opensearch/client.py
  cloudkitty/storage/v2/opensearch/exceptions.py
  cloudkitty/tests/storage/v2/opensearch/__init__.py
  cloudkitty/tests/storage/v2/opensearch/test_client.py
  cloudkitty/tests/storage/v2/opensearch_utils.py
  cloudkitty/tests/storage/v2/test_storage_unit.py
  devstack/plugin.sh
  devstack/settings
  doc/source/admin/configuration/storage.rst
  releasenotes/notes/add-opensearch-as-v2-storage-backend-ff4080d6d32d8a2a.yaml
  setup.cfg
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

CI: deploy OpenSearch 1.x instead of Elasticsearch
  devstack/plugin.sh
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Fix random unit test failures
  cloudkitty/tests/storage/v2/test_storage_unit.py
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Add description option to a rating metric definition
  cloudkitty/collector/__init__.py
  cloudkitty/collector/gnocchi.py
  cloudkitty/collector/monasca.py
  cloudkitty/collector/prometheus.py
  cloudkitty/dataframe.py
  cloudkitty/storage/v2/elasticsearch/client.py
  cloudkitty/storage/v2/influx.py
  cloudkitty/tests/gabbi/gabbits/v2-scope-state.yaml
  cloudkitty/tests/storage/v2/elasticsearch/test_client.py
  doc/source/admin/configuration/collector.rst
  releasenotes/notes/add-description-option-to-rating-671430ac73c0315b.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update python classifier in setup.cfg
  setup.cfg
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3

Update .gitreview for unmaintained/yoga
  .gitreview
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

reno: Update master for unmaintained/yoga
  releasenotes/source/yoga.rst
Due: none

Fix devstack runprocess for cloudkitty api
  devstack/plugin.sh
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Removal of Monasca fetcher and collector
  cloudkitty/collector/monasca.py
  cloudkitty/common/config.py
  cloudkitty/common/monasca_client.py
  cloudkitty/fetcher/monasca.py
  cloudkitty/tests/collectors/test_monasca.py
  cloudkitty/tests/collectors/test_validation.py
  cloudkitty/tests/fetchers/test_monasca.py
  doc/source/admin/architecture.rst
  doc/source/admin/configuration/collector.rst
  doc/source/admin/configuration/fetcher.rst
  doc/source/common-index.rst
  releasenotes/notes/remove-monasca-429122691d0e5d52.yaml
  requirements.txt
  setup.cfg
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Add requests to requirements
  requirements.txt
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3

Add support to InfluxDB v2 as storage backend
  .zuul.yaml
  cloudkitty/storage/v2/influx.py
  cloudkitty/tests/storage/v2/influx_utils.py
  cloudkitty/tests/storage/v2/test_influxdb.py
  devstack/plugin.sh
  devstack/settings
  releasenotes/notes/add-support-to-influxdb-v2-storage-backend-f94df79f9e5276a8.yaml
  requirements.txt
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Replace usage of LegacyEngineFacade
  cloudkitty/common/db/alembic/env.py
  cloudkitty/db/__init__.py
  cloudkitty/db/sqlalchemy/api.py
  cloudkitty/rating/hash/db/sqlalchemy/alembic/models/f8c799db4aa0_fix_unnamed_constraints.py
  cloudkitty/rating/hash/db/sqlalchemy/api.py
  cloudkitty/rating/hash/db/sqlalchemy/models.py
  cloudkitty/rating/pyscripts/db/sqlalchemy/api.py
  cloudkitty/rating/pyscripts/db/sqlalchemy/models.py
  cloudkitty/storage/v1/hybrid/__init__.py
  cloudkitty/storage/v1/sqlalchemy/__init__.py
  cloudkitty/storage_state/__init__.py
  cloudkitty/tests/__init__.py
  cloudkitty/tests/gabbi/fixtures.py
  cloudkitty/tests/test_storage_state.py
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update .gitreview for unmaintained/victoria
  .gitreview
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

reno: Update master for unmaintained/victoria
  releasenotes/source/victoria.rst
Due: none

Update .gitreview for unmaintained/wallaby
  .gitreview
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

reno: Update master for unmaintained/wallaby
  releasenotes/source/wallaby.rst
Due: none

Update .gitreview for unmaintained/xena
  .gitreview
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

reno: Update master for unmaintained/xena
  releasenotes/source/xena.rst
Due: none

Add grenade tests
  .zuul.yaml
  devstack/upgrade/resources.sh
  devstack/upgrade/settings
  devstack/upgrade/shutdown.sh
  devstack/upgrade/upgrade.sh
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Set Elastic/OpenSearch jobs as voting in Zuul
  .zuul.yaml
  cloudkitty/storage/v2/elasticsearch/__init__.py
  cloudkitty/storage/v2/opensearch/__init__.py
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update example pyscript at documentation
  doc/source/user/rating/pyscripts.rst
Due: none

Update .gitreview for stable/2024.1
  .gitreview
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update TOX_CONSTRAINTS_FILE for stable/2024.1
  tox.ini
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update master for stable/2024.1
  releasenotes/source/2024.1.rst
  releasenotes/source/index.rst
Due: none

Drop lower-constraints.txt and its testing
  .zuul.yaml
  lower-constraints.txt
  requirements.txt
  tox.ini
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Update README content
  README.rst
Due: none

Remove remnants of RTD documentation
  rtd-requirements.txt
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3

Add rating modules PUT endpoint to v2 API
  api-ref/source/v2/rating/modules.inc
  cloudkitty/api/v2/rating/modules.py
  cloudkitty/common/policies/v2/rating.py
  cloudkitty/tests/gabbi/gabbits/v2-rating-modules.yaml
  doc/source/_static/cloudkitty.policy.yaml.sample
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Remove get_state function and its references
  cloudkitty/orchestrator.py
  cloudkitty/storage_state/__init__.py
  cloudkitty/tests/test_orchestrator.py
  cloudkitty/tests/test_storage_state.py
  cloudkitty/write_orchestrator.py
  releasenotes/notes/deprecate-get-state-2932a4e6a74295ce.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit

Fix API report requests when using opensearch
  cloudkitty/storage/v2/opensearch/client.py
  cloudkitty/tests/storage/v2/opensearch/test_client.py
  releasenotes/notes/fix-opensearch-report-344508dd4e3d0ccc.yaml
Due: cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v2-storage-influxdb-py3, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v1-storage-sqlalchemy-py3, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-elasticsearch-py3, cloudkitty-tox-bandit
