Repository openstack/cloudkitty: changes, and which Zuul jobs are due for each by the changed paths.
All: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

base-cloudkitty-tempest-job:
  parent: devstack-tempest
  description: 'Job testing cloudkitty installation and running tempest tests
  
    '
  required-projects:
  - name: openstack/cloudkitty
  - name: openstack/cloudkitty-tempest-plugin
  - name: openstack/python-cloudkittyclient
  roles:
  - zuul: openstack-infra/devstack
  timeout: 5400
  vars:
  ...

cloudkitty-grenade-job:
  parent: grenade
  description: 'Grenade job to test release upgrades
  
    '
  required-projects:
  - opendev.org/openstack/grenade
  - opendev.org/openstack/cloudkitty
  - opendev.org/openstack/cloudkitty-tempest-plugin
  - opendev.org/openstack/python-cloudkittyclient
  vars:
    devstack_plugins:
  ...

base-cloudkitty-v1-api-tempest-job:
  parent: base-cloudkitty-tempest-job
  description: 'Job running tempest tests on devstack with the v1 API only
  
    and the v1 storage driver
  
    '
  vars:
    tempest_test_regex: cloudkitty_tempest_plugin.tests.api.v1.*

base-cloudkitty-v2-api-tempest-job:
  parent: base-cloudkitty-tempest-job
  description: 'Job running tempest tests on devstack with the v2 API
  
    and a v2 storage driver
  
    '
  vars:
    tempest_test_regex: cloudkitty_tempest_plugin.*

cloudkitty-tempest-full-ipv6-only:
  parent: devstack-tempest-ipv6
  description: 'Job testing cloudkitty installation on devstack on IPv6
  
    and running tempest tests
  
    '
  required-projects:
  - name: openstack/cloudkitty
  - name: openstack/cloudkitty-tempest-plugin
  - name: openstack/python-cloudkittyclient
  roles:
  ...

cloudkitty-tempest-full-v1-storage-sqlalchemy:
  parent: base-cloudkitty-v1-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    SQLAlchemy v1 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: sqlalchemy
      CLOUDKITTY_STORAGE_VERSION: 1

cloudkitty-tempest-full-v2-storage-influxdb:
  parent: base-cloudkitty-v2-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3, InfluxDB
  
    v1 and the InfluxDB v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: influxdb
  ...

cloudkitty-tempest-full-v2-storage-influxdb-v2:
  parent: base-cloudkitty-v2-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3, InfluxDB
  
    v2 and the InfluxDB v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: influxdb
  ...

cloudkitty-tempest-full-v2-storage-elasticsearch:
  parent: base-cloudkitty-v2-api-tempest-job
  description: 'Job testing cloudkitty installation on devstack with python 3 and the
  
    Elasticsearch v2 storage driver and running tempest tests
  
    '
  vars:
    devstack_localrc:
      CLOUDKITTY_STORAGE_BACKEND: elasticsearch
      CLOUDKITTY_STORAGE_VERSION: 2

Update master for stable/2026.1
  releasenotes/source/2026.1.rst
  releasenotes/source/index.rst
Due: none

Optimize the loading of rating rules
  cloudkitty/orchestrator.py
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Remove unnecessary direct dependency on Pygments
  doc/requirements.txt
Due: none

InfluxDB: Add timeout for HTTP requests
  cloudkitty/storage/v2/influx.py
  releasenotes/notes/influxdb-timeout-57aba639d07b8c8b.yaml
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Drop unnecessary direct dependency on kombu
  test-requirements.txt
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch

Fix missing oslo.policy options
  cloudkitty/tests/test_policy.py
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Add Aetos collector with Keystone authentication
  .zuul.yaml
  cloudkitty/collector/aetos.py
  cloudkitty/collector/prometheus.py
  cloudkitty/collector/prometheus_base.py
  cloudkitty/common/aetos_client.py
  cloudkitty/common/config.py
  cloudkitty/common/prometheus_client.py
  cloudkitty/common/prometheus_client_base.py
  cloudkitty/fetcher/prometheus.py
  cloudkitty/tests/collectors/test_aetos.py
  cloudkitty/tests/collectors/test_prometheus.py
  cloudkitty/tests/common/test_aetos_client.py
  cloudkitty/tests/fetchers/test_prometheus.py
  doc/source/admin/architecture.rst
  doc/source/admin/configuration/collector.rst
  releasenotes/notes/add-aetos-collector-04879a096e774d1d.yaml
  requirements.txt
  setup.cfg
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Fix elasticsearch & opensearch requests
  cloudkitty/storage/v2/elasticsearch/client.py
  cloudkitty/storage/v2/opensearch/client.py
  cloudkitty/tests/storage/v2/elasticsearch/test_client.py
  cloudkitty/tests/storage/v2/opensearch/test_client.py
  releasenotes/notes/fix-elasticsearch-a9a37443f81b3a79.yaml
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Add Loki structured metadata support for improved query performance
  cloudkitty/storage/v2/loki/__init__.py
  cloudkitty/storage/v2/loki/client.py
  cloudkitty/tests/storage/v2/loki/test_client.py
  cloudkitty/tests/storage/v2/loki_utils.py
  doc/source/admin/configuration/storage.rst
  releasenotes/notes/add-loki-structured-metadata-support-92f3b11c9c57803a.yaml
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

setup: Remove pbr's wsgi_scripts
  cloudkitty/api/app.wsgi
  doc/source/admin/install/index.rst
  doc/source/admin/install/mod_wsgi.rst
  releasenotes/notes/rm-wsgi-scripts-b944f2957bb7f480.yaml
  setup.cfg
  tox.ini
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update loki to newer upstream release for testing
  devstack/plugin.sh
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

zuul: Use ansible variable to configure tempest plugins
  .zuul.yaml
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

[2024.1] pin setuptools in tox jobs
  tox.ini
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Drop Python 3.10
  pyproject.toml
  releasenotes/notes/drop-python-3-10-cb5bf993b025f6ea.yaml
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Use pip to install from sources
  doc/source/admin/install/install-source.rst
Due: none

Doc: define fetchers endpoints in to pyproject.toml
  doc/source/developer/fetcher.rst
Due: none

Doc: use the code-block directive for code
  doc/source/admin/install/install-rdo.rst
  doc/source/admin/install/install-source.rst
  doc/source/admin/install/install-ubuntu.rst
  doc/source/concepts/index.rst
Due: none

align image.size granularity
  etc/cloudkitty/metrics.yml
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch

doc: Update Ubuntu package information
  doc/source/admin/install/install-ubuntu.rst
Due: none

doc: Use dnf in CentOS/RHEL
  doc/source/admin/install/install-rdo.rst
Due: none

Skip tempest job for irrelevant files
  .zuul.yaml
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Fix 500 error when creating scope with active=False
  cloudkitty/api/v2/scope/state.py
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Revert "Fix v1 summary/total with ES/OS storage backend"
  cloudkitty/storage/v2/elasticsearch/client.py
  cloudkitty/storage/v2/opensearch/client.py
  releasenotes/notes/fix-v1-summary-and-total-with-es-os-backend-9540741b80819672.yaml
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Fix for typo
  cloudkitty/collector/gnocchi.py
  cloudkitty/tests/collectors/test_gnocchi.py
  doc/source/admin/configuration/configuration.rst
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Fix CI tests
  cloudkitty/tests/test_orchestrator.py
  cloudkitty/tests/utils_tests/test_tz.py
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update .gitreview for stable/2026.2
  .gitreview
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update TOX_CONSTRAINTS_FILE for stable/2026.2
  tox.ini
Due: base-cloudkitty-tempest-job, cloudkitty-grenade-job, base-cloudkitty-v1-api-tempest-job, base-cloudkitty-v2-api-tempest-job, cloudkitty-tempest-full-ipv6-only, cloudkitty-tempest-full-v1-storage-sqlalchemy, cloudkitty-tempest-full-v2-storage-influxdb, cloudkitty-tempest-full-v2-storage-influxdb-v2, cloudkitty-tempest-full-v2-storage-elasticsearch, cloudkitty-tempest-full-v2-storage-opensearch, cloudkitty-tox-bandit

Update master for stable/2026.2
  releasenotes/source/2026.2.rst
  releasenotes/source/index.rst
Due: none

Path conditions:
  base-cloudkitty-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-grenade-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  base-cloudkitty-v1-api-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  base-cloudkitty-v2-api-tempest-job: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-ipv6-only: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v1-storage-sqlalchemy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-influxdb: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-influxdb-v2: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-elasticsearch: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tempest-full-v2-storage-opensearch: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  cloudkitty-tox-bandit: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^cloudkitty/hacking/.*$, ^cloudkitty/tests/scenario/.*$, ^cloudkitty/tests/unittests/.*$
